<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="text-align: center; border: 1px solid gray; width: 400px; align-content: center; padding-bottom: 15px" >
		<h1>로그인</h1>
		<form action="/chapter13/loginSuccess">
			<input type="text" name="id" placeholder="id"><br>
			<input type="text" name="pw" placeholder="password"><br>
			아이디 저장 <input type="checkbox" name="idRemember"><br>
			<input type="submit" value="로그인"> 
		</form>
	</div>
</body>
</html>